.header {
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.backIcon {
    margin-top: 10px;
    align-self: flex-start;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.backIcon:hover {
    cursor: pointer;
    background-color: rgb(24, 25, 25);
}

.backIcon > use{
    height: 20px;
    width: 20px;
    fill: white;
}

.header > span {
    color: white;
    font-size: 1.8em;
    font-family: Helvetica, Arial;
    margin-left: 35%;
}
.post {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(33, 35, 37);
}

.post-info {
    display: flex;
    align-items: row;
    padding-left: 2em;
    padding-right: 2em;
    border-bottom: 1px solid rgb(33, 35, 37);
}

.user-details {
    color: white;
    display: flex;
}

.poster-profile-pic > img {
    position: relative;
    height: 4em;
    border-radius: 50%;
    cursor: pointer;
}

.user-details > span {
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.poster-name {
    font-weight: 650;
}

.poster-username {
    color: rgb(116, 119, 122);
    padding-left: 5px;
}

.date-posted {
    padding-left: 15px;
    color: rgb(116, 119, 122);
}

.post-text {
    display: flex;
    flex-direction: column;
    color: white;
}

.post-content > p {
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.post-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
}

.post-actions > div {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap:3px;
}

.image-container > img {
    position: relative;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

.red-like {
    fill: red !important;
}

.white-saved {
    fill: white !important;
}

svg {
    width: 1.5em;
    height: 1.5em;
}

svg > use {
    fill: rgb(116, 119, 122);
    width: 2em;
}

.post-form {
    width: 85%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
}

.post-form > textarea {
    margin-top: 10px;
    width: 90%;
    font-size: 20px;
    overflow: hidden;
    border: none;
    outline: none;
    padding: 0px;
    resize: none;
    overflow: hidden;
    box-shadow: none;
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.post-submit {
    display: flex;
    justify-content: space-between;
}

.post-submit > button {
    align-self: flex-end;
    margin-right: 3rem;
    margin-bottom: 1rem;
    height: 2rem;
    width: 15%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(29,155,240);
    border-radius: 30px 30px 30px 30px;
    color: white;
    font-size: 100%;
    font-weight: 600;
    cursor: pointer;
}

#post-pic {
    position: relative;
    width: 95%;
    height: fit-content;
    display: none;
}

.user-profile-pic {
    height: 4em;
    width: 4em;
    border-radius: 50%;
}

.comment-area {
    display: flex;
    border-top: 1px solid rgb(33, 35, 37);
    margin-top: 1em;
    gap: 2em;
    border-bottom: 1px solid rgb(33, 35, 37);
}
