.container {
    display: flex;
    flex-direction: column;
    height: 40vh;
    width:30vw;
}

.header {
    display: flex;
    align-items: center;
}

.header > span {
    color: white;
    margin-left: 20%;
}

.close-button {
    outline: none;
    background-color: black;
    color: #C7CACB;
    align-self: flex-start;
    margin: 10px;
    font-family: Helvetica, Arial;
    font-size: 15px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
.close-button:hover {
    background-color: rgb(24, 25, 25);
}
input {
    margin-top: 5%;
    width: 90%;
    align-self: center;
    height: 7vh;
    background-color: black;
    border: 1px solid rgb(39, 41, 43);
    border-radius: 5px 5px 5px 5px;
    color: white;
    font-size: 15px;
    padding-left: 20px;
    outline: none;
}

.save-button {
    align-self: flex-end;
    margin-top: 2em;
    margin-right: 2em;
    height: 2.5rem;
    width: 15%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border: 1px solid rgb(51, 54, 57);
    border-radius: 30px 30px 30px 30px;
    color: black;
    font-size: 100%;
    font-weight: 600;
    cursor: pointer;
}

::ng-deep .mat-dialog-container{
    padding: 0 !important;
    background-color: black !important;
    border-radius: 20px 20px 20px;
}

::ng-deep .cdk-overlay-container {
    background-color: rgba(36, 45, 42, 0.6) !important; 
}