<div class="container">
    <div class="header">
        <button class="close-button" (click)="this.dialogRef.close();">X</button>
        <span>Change Username</span>
    </div>
    <form [formGroup]="passwordChangeFormGroup" ngNativeValidate (ngSubmit)="changePassword()">
        <input formControlName="oldPassword" type="password" minlength="6" placeholder="Old password" id="oldPassword">
        <input formControlName="newPassword" type="password" minlength="6" placeholder="New password" id="newPasswordFirst">
        <input type="password" minlength="6" placeholder="Repeat new password" id="newPasswordSecond">
        <button class="save-button" type="submit">Save</button>
    </form>
</div>